html,
#root {
  min-height: 100% !important;
  height: 100%;
}
body {
  /* font: 14px "Century Gothic", Futura, sans-serif; */

  margin: 0;
  direction: rtl;
  min-height: 100% !important;
  height: 100%;

  overflow-x: hidden;
  /* overflow: hidden; */
}

.toolbar {
  position: fixed;
  width: 100%;
  /* background-image: url('./assets/images/pur.jpg');
  background-color: rgb(90, 4, 79); */
  background: url("./assets/images/asfalt-light.png") repeat rgb(90, 4, 79);
  /* background-size: initial; */
  top: 0;
  right: 0;
  height: 100px;
  z-index: 99;
}

.transparent-toolbar {
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  height: 100px;
  z-index: 99;
}
.main-content {
  margin-top: 100px;
  padding: 20px 0;
}
.toolbar_navigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  /* float: right; */
}

.toolbar_logo a {
  color: #ffffff;
  text-decoration: none;
}
.toolbar_logo {
  margin: 0 1rem;
}

.toolbar_navigation_items a {
  color: #ffffff;
  text-decoration: none;
}

.toolbar_navigation_items a:hover,
.toolbar_navigation_items a:active,
.toolbar_logo a:hover,
.toolbar_logo a:active,
.side-drawer a:hover,
.side-drawer a:active {
  /* color: rgb(123, 117, 160); */
  color: #cc3399;
}

.toolbar_navigation_items ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.toolbar_navigation_items li {
  padding: 0 0.5rem;
}

.spacer {
  flex: 1;
}
.toggle-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 28px;
  width: 26px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.toggle-btn:focus {
  outline: none;
}

.toggle-btn-line {
  width: 25px;
  height: 2px;
  background-color: #ffffff;
}

.side-drawer {
  height: 100%;
  /* background-color: rgb(90, 4, 79); */
  background: url("./assets/images/asfalt-light.png") repeat rgb(90, 4, 79);
  /* subtle-grunge */
  position: fixed;
  box-shadow: -1px 0px 7px rgba(0, 0, 0, 0.5);
  top: 0;
  /* right: 0; */
  left: 0;
  width: 45%;
  text-align: right;
  z-index: 200;
  transform: translateX(240%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(125%);
}

.sidedrawer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
.sidedrawer-content ul {
  margin-right: 20px;
}
.icon-in-sidebar {
  /* position: absolute; */
  width: 50%;
  height: 35%;
  color: #ffffff;
  margin: 1% auto;
  /* margin : auto; */
  /* top : 3%; */
  /* right: 25%; */
}
.side-drawer ul {
  /* position: absolute; */
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;

  /* margin-top: 50%; */
  /* justify-content: center; */
}
.side-drawer li {
  margin-top: 1rem;
}
.side-drawer a {
  color: #ffffff;
  text-decoration: none;
}

.backdrop {
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  top: 0;
}
.gray-body {
  background-color: #f7f2f2;
  height: 100%;
  width: 100%;
}
.resume-gray-body {
  background-color: #f7f2f2;
  min-height: 500px;
  width: 100%;
}
.signup-container {
  height: auto;
  max-width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #ffffff;
  padding: 3%;
  direction: rtl;
}
.account-title {
  text-align: right;
}

.radio-button,
.radio-button:hover,
.radio-button:active,
.radio-button:focus,
.radio-button:active:focus,
.btn-primary,
.btn-primary:active:focus,
.choose-role-btns .btn {
  background-color: #212f3d;
  border: none;
  outline: none;
  border-color: #212f3d;
  box-shadow: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus,
.active,
.active:hover,
.active:active,
.active:focus,
.active:active:focus,
.choose-role-btns .btn:hover,
.choose-role-btns .btn:active,
.choose-role-btns .btn:focus,
.choose-role-btns .btn:active:focus,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:disabled {
  background-color: rgb(90, 4, 79);
  border: none;
  outline: none;
  border-color: rgb(90, 4, 79);
  box-shadow: none;
}

.margin-top {
  margin-top: 20px;
}
.extra-margin-top {
  margin-top: 100px;
}
.margin-right {
  margin-right: 20px;
}
.margin-left {
  margin-right: 20px;
}
.margin-bottom {
  margin-bottom: 20px;
}
.right-aligned {
  text-align: right;
}

.center-aligned {
  text-align: center;
}

.error-msg {
  color: red;
}

.alert-container {
  position: absolute;
  width: 100%;
}

.alert-card {
  padding: 3rem;
  font-size: large;
}

.checkbox-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.checkbox-container label {
  margin: 0 15px;
}
.color-behind-profile {
  /* background-color: rgb(204, 51, 153);  */
  /* background-color: #A641B9; */
  background: linear-gradient(60deg, #cc3399, #5a044f);
  width: 100%;
  height: 40%;
  /* z-index: -200; */
}
.profile-card {
  margin: auto;
  max-width: 90%;
  /* z-index: -100; */
  text-align: right;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
}
/* .list-item-container:hover{
  background-color: thistle;
} */

.list-item-container {
  transform: translateY(0);
  animation: change 0.49s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes change {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* .explanation-card {
  transform: translateX(0);
  animation: explanation-card-change 0.79s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes explanation-card-change {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
} */

.emty-text {
  color: rgb(204, 51, 153);
  /* color: rgb(236, 213, 236); */
  margin: 40px auto;
  max-width: 90%;
  text-align: center;
  font-weight: bold;
}
.translator-list-item-card {
  /* border: none; */
  text-align: right;
}
/* .translator-list-item-card:hover {
  background-color: thistle;
} */
.hoverable-list-item:hover {
  background-color: thistle;
}
.purple-txt {
  color: rgb(90, 4, 79);
}
.black-text {
  color : #000;
}
.submit-btn-modal {
  float: right;
}
.selected-tab a {
  /* color: rgb(123, 117, 160); */
  color: #cc3399;
  font-weight: bolder;
}
.load-spinner {
  margin: auto 45%;
  text-align: center;
}
.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.flex-reverse {
  flex-direction: row-reverse;
}
.refresh-icon {
  width: 20px;
  height: 25px;
}

.background {
  /* background-color: rgb(236, 213, 236); */
  background: url("./assets/images/always-grey.png") repeat #212f3d;
  color: rgb(236, 213, 236);
  min-height: 100%;
  margin-top: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.canvas-bg {
  background-color: rgb(90, 4, 79);
  height: 20%;
  width: 100%;
}
.particle-wrapper {
  position: relative;
  background-color: rgb(90, 4, 79);
}

.particle-txt {
  background-color: transparent;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: rgb(236, 213, 236);
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
}

.info-section-container {
  position: relative;
  /* background-color: rgb(38, 38, 38); */
  /* background-color: rgb(64, 64, 64);
  background-image: radial-gradient(black, rgb(64, 64, 64)); */
  background: url("./assets/images/always-grey.png") repeat #121921;
  height: 400px;
  padding: 10% 0;
}
.info-row {
  background-color: transparent;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  color: #ffffff;
  position: absolute;
  text-align: center;
  margin: auto;
  width: 100%;
}
.info-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-footer-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card-footer-col {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
}
.help-items {
  font-size: 1.3rem;
  margin-right: 20px;
}
.help-items a,
.help-items a:hover,
.help-items a:active {
  cursor: pointer;
  color: rgb(236, 213, 236);
  text-decoration: none;
}

.upload-file-container,
.upload-file-container:visited,
.upload-file-container:active {
  border: 5px dotted #ccc;
  padding: 15%;
  margin: 2% auto;
}
.upload-btn {
  border: 1px solid #ccc;
  padding: 5px;
  max-width: 50%;
  margin: 20px auto;
  cursor: pointer;
}
.download-btn {
  color: rgb(90, 4, 79);
  font-weight: bold;
  box-shadow: -3px -2px 8px rgba(90, 4, 79, 0.3);
  margin-left: 1rem;
}
.gray-text {
  color: #808080;
}

.white-bg {
  background-color: #ffffff;
}
.filter-card {
  /* box-shadow: -7px -7px 8px rgba(90, 4, 79, 0.3); */
  background-color: rgb(236, 213, 236);
  padding: 0.2px;
  height: 30%;
  /* min-height: 55%; */
}
.filter-seg {
  bottom: 0;
  position: sticky;
}

.new-msg-icon {
  color: #ff751a;
  width: 10px;
  height: 10px;
}
.orange-icon {
  color: #ff751a;
}

.height-behind-msg {
  width: 60%;
  height: 200px;
}

@media (max-width: 768px) {
  .toolbar_navigation_items {
    display: none;
  }
  .signup-container {
    max-width: 100%;
  }
  .gray-body {
    padding: 0;
  }
  .particle-txt h1 {
    font-size: 1.6rem;
  }
  .particle-txt h4 {
    font-size: 1rem;
  }
  .info-row {
    flex-direction: column;
  }
  .card-footer-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .height-behind-msg {
    height: 150px;
  }
}

@media (min-width: 769px) {
  .side-drawer {
    display: none;
  }
  .toolbar_toggle_button {
    display: none;
  }
}

@media (min-width: 960px) {
  .alert-container {
    right: 25%;
  }
}

/* animated stuff in main page: */

.card-image {
  width: auto;
  height: 170px;
  margin-top: 20px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main-page-titles {
  text-align: center;
  margin-top: 80px;
}

.landig-animated-items ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: rgb(90, 4, 79);
}
.landig-animated-items ul {
  overflow-x: hidden;
}

.landig-animated-items ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  width: 20px;
  height: 20px;
  z-index: 2;
  background: rgb(90, 4, 79);
}

.landig-animated-items ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  height: 350px;
  padding: 20px;
  background: #fff;
  color: #000;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.landig-animated-items ul li > div {
  -webkit-box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
}

.landig-animated-items ul li div time {
  text-align: center;
  position: absolute;
  background: linear-gradient(60deg, #cc3399, #5a044f);
  color: #fff;
  width: 90%;
  left: 5%;
  height: 50px;
  top: -15px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 2px;
}

.landig-animated-items ul li div div {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.landig-animated-items ul li div div p {
  text-align: center;
}

.landig-animated-items ul li div .discovery {
  margin-right: 10px;
}

.landig-animated-items ul li:nth-of-type(odd) > div {
  left: 450px;
}

.landig-animated-items ul li:nth-of-type(even) > div {
  left: -60px;
}

.landig-animated-items ul li div {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.landig-animated-items ul li:nth-of-type(odd) div {
  -webkit-transform: translate3d(100px, -10px, 0) rotate(10deg);
  transform: translate3d(100px, -10px, 0) rotate(10deg);
}

.landig-animated-items ul li:nth-of-type(even) div {
  -webkit-transform: translate3d(-100px, -10px, 0) rotate(10deg);
  transform: translate3d(-100px, -10px, 0) rotate(10deg);
}

.landig-animated-items ul li.in-view div {
  -webkit-transform: none;
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .landig-animated-items ul li div {
    width: 300px;
    /* -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; */
  }
  .landig-animated-items ul li div div {
    /* width: 80%; */
    margin: 10px;
  }
  .landig-animated-items ul li:nth-of-type(odd) > div {
    left: 320px;
  }
  .landig-animated-items ul li:nth-of-type(even) > div {
    left: -20px;
  }
  .card-image {
    height: 110px;
  }
}

@media screen and (max-width: 600px) {
  .landig-animated-items ul li {
    margin-left: 20px;
  }
  .landig-animated-items ul li div {
    width: calc(100vw - 91px);
  }
  .landig-animated-items ul li:nth-of-type(even) > div {
    /* left: 410px; */
    left: calc(100vw - 50px);
  }
  .landig-animated-items ul li:nth-of-type(odd) > div {
    /* left: 510px; */
    left: calc(100vw - 50px);
  }
  .card-image {
    height: 170px;
    width: calc(100vw - 140px);
  }
}

@media screen and (max-width: 400px) {
  .card-image {
    height: 120px;
    width: calc(100vw - 100px);
  }
  .landig-animated-items ul li div {
    font-size: small;
    padding-bottom: 0;
  }
}
